.pagination {
  align-items: center;
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-top: 1em;
}

.pagination[disabled] {
  pointer-events: none
}

.pagination p {
  color: #fff;
  margin: 0;
}

.pagination button {
  background-color: var(--secundary-color-light);
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  cursor: pointer;
  width: 50px;
  height: 30px;
}

.pagination button[disabled] {
  opacity: .2;
}

.pagination button:hover {
  background-color: var(--primary-color);
}